@charset "UTF-8";

*{
    margin: 0px;
    
}
:root{
    --cor1: #b9d6f2;
    --cor2: #061a40;
    --cor3: #0353a4;
    --cor4: #006daa;
    --cor5: #003559;
}


.cabecalho{   
    background-color: var(--cor2);      
    height: 4.5em;  
    padding: 2px; 
}
header > h1{
    text-align: left;
    color: #ffffff;           
}
.logotipo{
    float: left;
    margin-right: 1em;
  
   
}
nav{
    background-color: var(--cor2);
    padding: 2px;
    padding-bottom: 4px;
    text-align: right;

}
.link-cabecalho:hover{    
    color: #b8d5f0;
    
    
}
.link-cabecalho{
  color:#ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  }

  body{
    background-color: #b9d6f2;
    margin: 0px;
}

main{
    width: 1000px;
    margin: auto;
    background-color: #b9d6f2;
    
}
section{
    padding-bottom: 10px;
}


.conteudo{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 7px #0353a48a ;
    padding: 20px;
    margin-bottom: 4px;
    
}

.butao-descricao{
    color: #256aff;
    text-decoration: none;
}