@charset "UTF-8";
*{
    margin: 0px;
    
}


.cabecalho{   
    background-color: #061a40;
    text-align: right;  
    height: 6.1em;  
    padding: 5px; 
}
header > h1{
    text-align: left;
    color: #ffffff;           
}
.logotipo{
    float: left;
    margin-right: 1em;
  
   
}
.link-cabecalho:hover{
    color: #b8d5f0;
    
}

.link-cabecalho{
  color:#ffffff;
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  }

  body{
    background-color: #b9d6f2;
    margin: 0px;
}

main{
    width: 1000px;
    margin: auto;
    background-color: #b9d6f2;
    
}
section{
    padding-bottom: 10px;
}


.destaque{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 7px #0353a48a ;
    padding: 20px;
    
}

.salao{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 7px #0353a48a ;
    padding: 20px; 
}


.dj{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 7px  #0353a48a ;
    padding: 20px;  
    
    
}


.fotografo{
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 2px 2px 7px  #0353a48a ;
    padding: 20px; 
}

.butao-descricao{
    color: #256aff;
    text-decoration: none;
}