@charset "UTF-8";


.cabecalho{   
    background-color: #061a40;
    text-align: right;  
    height: 6.3em;   
}
.header{
    text-align: left;
    color: #ffffff;       
}
.logotipo{
    float: left;
  
   
}

.link-cabecalho{
  color:#ffffff;
  text-decoration: none;
  }

  body{
    background-color: #b9d6f2;
}

main{
    width: 960px;
    margin: auto;
    background-color: #b9d6f2;
    padding-bottom: 10px;
}


.destaque{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #0353a48a ;
    padding: 20px;
    
}

.salao{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0353a48a ;
    padding: 20px;  
}


.dj{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #0353a48a ;
    padding: 20px;  
    
    
}


.fotografo{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #0353a48a ;
    padding: 20px; 
}

.butao-descricao{
    color: #000000;
}